@import "tailwindcss";

/*========= reusable =========*/
.nunito{
  font-family: "Nunito",sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.caprasimo{
  font-family: "Caprasimo",serif;
  font-weight: 400;
  font-size: normal;
}
/*========= bannerImg =========*/
.bannerBg{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url("./assets/musicbg.jpg");
}